
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #04152d;
}

a {
  text-decoration: none;
}

.container {
  height: 20vh;
  width: 100vw;
 display: flex;
 justify-content:space-evenly;
 align-items: center;
}
.container h1 {
  color: #fff;
  position: relative;
  right: 5%;
  cursor: pointer;
}
.page-links {
  width: 20vw;
  display: flex;
  justify-content: space-between;
  
}

.page-links a{
  color: white;
}
.social-links {
  width: 10vw;
  display: flex;
  justify-content: space-between;
  color: #fff;
}
.social-links a {
  color: #fff;
}
.page-links a:hover {
  font-weight: bold;
}